@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shimmer {
    background: linear-gradient(
      90deg,
      #E5DFF7 0%,
      #F3F0FB 40%,
      #FBF7F0 50%,
      #F3F0FB 60%,
      #E5DFF7 100%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s ease-in-out infinite;
  }
}



* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  transition: scrollbar-color 0.3s ease;
}

*:hover, *:active, *:focus {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.2);
}